{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock title%}</title>
    <!-- Google Font -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />
    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/nice-select.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/jquery-ui.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/style.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>
    {% include "includes/header.html" %} {% block content %}
    <!-- block -->
    {% endblock content %} {% include "includes/footer.html" %}
    <!--- JS Files -->
    <script src="/static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jquery.nice-select.min.js"></script>
    <script src="/static/assets/js/jquery-ui.min.js"></script>
    <script src="/static/assets/js/jquery.slicknav.js"></script>
    <script src="/static/assets/js/mixitup.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>
